<h1>Mailer#activation_user_email</h1>

<h2>User Name</h2>
<p><%= @user.name %></p>

<h2>User Email</h2>
<p><%= @user.email %></p>

<h2>User Salt</h2>
<p><%= @user.salt %></p>

<h2>User crypted_passwd</h2>
<p><%= @user.crypted_password %></p>

<h2>User created at</h2>
<p><%= @user.created_at %></p>

<h2>User updated at</h2>
<p><%= @user.updated_at %></p>

<%= @url %>
